# Quarto
.quarto/

# Build output (keep if deploying with GitHub Pages)
# docs/


# Jupyter
.ipynb_checkpoints/

# logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS/editor
.DS_Store
.vscode/

# Optional: large raw data (be careful here)
practical/data/mitma_v1/personas/
practical/data/mitma_v1/viajes/

**/*.quarto_ipynb

/.quarto/

lectures/.Rhistory
practical/outcmaes/*